<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- URDF : Unified Robot Description Format -->

    <material name="white">
        <colour rbga="1 1 1 1" />
    </material>

    <material name="orange">
        <colour rbga="1 0.3 0.1 1" />
    </material>
    
    <material name="blue">
        <colour rbga="0.2 0.2 1 1" />
    </material>

    <material name="black">
        <colour rbga="0 0 0 1" />
    </material>

    <!-- Easier to set at center of both drive wheels for differential drive robots -->
    <!-- Rest of the chassis can be referenced to this base link -->
    <link name="base_link">
        
    </link>

    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0.1 0 0"/>
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0.15 0 0 0.075"/>
            <geometry>
                <box size="0.3 0.3 0.15"/>
            </geometry>
            <material name="white"/>
        </visual>
    </link>
    
</robot>